<%- include('../component/head'); %> 
<%- include('../component/navbar'); %>
<%- include('../component/pagetitle'); %>

<div class="center-align">
  <i class="large material-icons">child_care</i>
  <p><%= userInfo.firstname %> <%= userInfo.lastname %></p>
</div>
<div class="row center-align">
    <% if (userInfo.mainSport == "cycling") { %>
        <i class="material-icons">pedal_bike</i> 
    <% } else if (userInfo.mainSport == "running") { %>
        <i class="material-icons">directions_run</i> 
    <% } %>
</div>
<% if(userInfoStrava.recent_ride_totals.count != 'none' && userInfo.mainSport =='cycling') { %>
<div class="row center-align">
  <div><h5>Average Weekly Stats</h5></div>
  <div>Ride: <%= (userInfoStrava.recent_ride_totals.count/4).toFixed(1) %></div>
  <div>Time: <%= (userInfoStrava.recent_ride_totals.moving_time/(3600*4)).toFixed(0) %>h<%= (((userInfoStrava.recent_ride_totals.moving_time/4)%3600)/60).toFixed(0) %></div>
  <div>Distance: <%= (userInfoStrava.recent_ride_totals.distance/4000).toFixed(0) %> km</div>
  <div>Elevation: <%= (userInfoStrava.recent_ride_totals.elevation_gain/4).toFixed(0) %> m</div>
  <div>Speed: <%= (((userInfoStrava.recent_ride_totals.distance/1000)/(userInfoStrava.recent_ride_totals.moving_time))*3600).toFixed(1) %> km/h</div>
</div>
<% } else if(userInfoStrava.recent_ride_totals.count != 'none' && userInfo.mainSport =='running') {%>
  <div class="row center-align">
    <div><h5>Average Weekly Stats</h5></div>
    <div>Run: <%= (userInfoStrava.recent_run_totals.count/4).toFixed(1) %></div>
    <div>Time: <%= (userInfoStrava.recent_run_totals.moving_time/(3600*4)).toFixed(0) %>h<%= (((userInfoStrava.recent_run_totals.moving_time/4)%3600)/60).toFixed(0) %></div>
    <div>Distance: <%= (userInfoStrava.recent_run_totals.distance/4000).toFixed(0) %> km</div>
    <div>Elevation: <%= (userInfoStrava.recent_run_totals.elevation_gain/4).toFixed(0) %> m</div>
    <div>Pace: <%= 
    ((userInfoStrava.recent_run_totals.moving_time/60)*(userInfoStrava.recent_run_totals.distance/1000))%>:<%=(((userInfoStrava.recent_run_totals.moving_time/60)*(userInfoStrava.recent_run_totals.distance/1000))%60)%>/km</div>
  </div>
<% } %>

<%- include('../component/footer'); %>
