<%- include('../component/head'); %>
<%- include('../component/navbar'); %>
<%- include('../component/pagetitle'); %>

<div class="row">
    <div class="col s12 m8 l4 offset-m2 offset-l4">
        <ul class="collection">
            <% for(let i=0; i<userInfo.length; i++) { %>
                <li class="collection-item avatar">
                    <i class="material-icons circle blue-grey darken-3">person</i>
                    <!--<img src="images/yuna.jpg" alt="" class="circle">-->
                    <a href="/members/<%= userInfo[i]._id %>">
                        <span class="title"><%= userInfo[i].firstname %> <%= userInfo[i].lastname %></span>
                    </a>
                    <% 
                    let alreadyFollowing = false;
                    followingInfo.forEach(element => {
                        if (element.followingInfo._id == userInfo[i]._id) {
                            alreadyFollowing = true; %>
                            <form class="formBtn" action="/api/following/<%= userInfo[i]._id %>?token=<%= token %>&_method=DELETE" method="POST">
                            <button class="waves-effect waves-light btn grey lighten-1"><i class="material-icons">remove</i></button>
                    </form>
                    <%    }
                    });
                    if(alreadyFollowing==false) {%>
                    <form class="formBtn" action="/api/following/<%= userInfo[i]._id %>?token=<%= token %>" method="POST">
                        <button class="waves-effect waves-light btn blue-grey darken-3"><i class="material-icons">add</i></button>
                    </form>
                    <% } %>

                </li>
            <% } %>
        </ul>
    </div>
</div>
<%- include('../component/footer'); %>