<%- include('component/head'); %> 
<%- include('component/navbar'); %>
<%- include('component/pagetitle'); %>

<ul id="tabs-swipe-demo" class="tabs blue-grey darken-3 toptabs">
  <li class="tab col s3 homeTabs"><a class="active" href="#popularEvent">Popular</a></li>
  <li class="tab col s3 homeTabs"><a href="#myEvents">My Events</a></li>
</ul>
<div id="popularEvent" class="col s12">

  <% for(let i=0; i< popularEvent.length; i++) { %>
    <div class="row">
      <div class="col s12 m6 l4 offset-m3 offset-l4">
        <a href="/event/<%= popularEvent[i].eventInfo._id %>">
          <div class="card">
            <div class="card-image">
              <img src="/img/<%= popularEvent[i].eventInfo.sport %>_event.jpg" />
              <!--<span class="card-title">Event Title</span>-->
              <div class="eventDate">
                <div><%= popularEvent[i].eventInfo.meeting.date.split(" ")[0] %></div>
                <div class="eventMonth"><%= popularEvent[i].eventInfo.meeting.date.split(" ")[1] %></div>
              </div>
            </div>
            <div class="cardTitle center-align">
              <%= popularEvent[i].eventInfo.title %>
            </div>
          </div>
        </a>
      </div>
    </div>
  <% } %>

</div>

<div id="myEvents" class="col s12">

  <div class="col s12 m6 l4 offset-m3 offset-l4">
  <% for(let i=0; i<eventInfo.length; i++) { %>

      
        <a href="/event/<%= eventInfo[i]._id %>">
          <div class="card">
            <div class="card-image">
              <img src="/img/<%= eventInfo[i].sport %>_event.jpg" />
              <!--<span class="card-title">Event Title</span>-->
              <div class="eventDate">
                <div><%= eventInfo[i].meeting.date.split(" ")[0] %></div>
                <div class="eventMonth"><%= eventInfo[i].meeting.date.split(" ")[1] %></div>
              </div>
            </div>
            <div class="cardTitle center-align">
              <%= eventInfo[i].title %>
            </div>
          </div>
        </a>
     
   
  <% } %>
  </div>

</div>


<script src="/js/tabs.js"></script>
<%- include('component/footer'); %>
