<%- include('../component/head'); %> 
<%- include('../component/navbar'); %>
<%- include('../component/pagetitle'); %>

<div class="row center-align">
  <i class="large material-icons">child_care</i>
  <p><%= userInfo.firstname %> <%= userInfo.lastname %></p>
</div>
<% if(userInfoStrava.recent_ride_totals.count != 'none') { %>
<div>Average Weekly Stats</div>
<div class="row center-align">
  <div>Number: <%= (userInfoStrava.recent_ride_totals.count/4).toFixed(2) %></div>
  <div>Time: <%= (userInfoStrava.recent_ride_totals.moving_time/(3600*4)).toFixed(0) %>h<%= (((userInfoStrava.recent_ride_totals.moving_time/4)%3600)/60).toFixed(0) %></div>
  <div>Distance: <%= (userInfoStrava.recent_ride_totals.distance/4000).toFixed(0) %> km</div>
  <div>Elevation: <%= (userInfoStrava.recent_ride_totals.elevation_gain/4).toFixed(0) %> m</div>
  <div>Average speed: <%= (((userInfoStrava.recent_ride_totals.distance/1000)/(userInfoStrava.recent_ride_totals.moving_time))*3600).toFixed(1) %> km/h</div>
</div>
<% } %>
<div class="row">
  <div class="collection">
    <a href="#!" class="collection-item">My events</a>
    <a href="/editmyinfo" class="collection-item">Edit my info</a>

    <% if(userInfoStrava.recent_ride_totals.count != 'none') { %>
      <a href="/dcstrava/" class="collection-item">Disconnect my Strava</a>
    <% } else{ %>
      <a href="https://www.strava.com/oauth/authorize?client_id=55086&response_type=code&redirect_uri=http://localhost:3000/myprofile/&approval_prompt=force&scope=read" class="collection-item">Connect my Strava</a>
    <% } %>
    
    <a href="/signout/" class="collection-item">Sign out</a>
  </div>
  <!--<a href="/signout/" class="waves-effect waves-light btn blue-grey darken-3" id="signInBtn">Sign Out</a>-->
</div>

<script src="/js/toast.js"></script>

<%- include('../component/footer'); %>
