<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
 crossorigin=""></script>
    <title>npProject</title>
  </head>
  <body class="grey lighten-3">
<%- include('../component/navbar'); %>
<%- include('../component/pagetitle'); %>

<% if(userStatus=="author" || userStatus=="admin") { %>
    <div class="eventDetailBtn">
        <a href="/event/edit1/<%= eventDetail._id %>" class="waves-effect waves-light btn blue-grey darken-3"><i class="material-icons left">edit</i>Edit</a>
        <form action="/api/event/<%= eventDetail._id %>?_method=DELETE" method="POST">
            <button class="waves-effect waves-light btn blue-grey darken-3"><i class="material-icons left">delete</i>Delete</button>
        </form>
    </div>
<% } %>

<div class="titleContainer">
  <% if (participating==false) { %>
    <form action="/api/participant/<%= eventDetail._id %>?token=<%= token %>" method="POST">
      <button class="waves-effect waves-light btn blue-grey darken-3"><i class="material-icons">add</i></button>
    </form>
  <% } else { %>
    <form action="/api/participant/<%= eventDetail._id %>?_method=DELETE&token=<%= token %>" method="POST">
      <button class="waves-effect waves-light btn blue-grey darken-3"><i class="material-icons">remove</i></button>
    </form>
  <% } %>

  <h5>
    <%= eventDetail.title %>
  </h5>
</div>
<div class="eventSport">
  <% if (eventDetail.sport == "cycling") { %>
      <i class="material-icons">pedal_bike</i> <%= eventDetail.meeting.date %> <%= eventDetail.meeting.time %>
  <% } else if (eventDetail.sport == "running") { %>
      <i class="material-icons">directions_run</i> <%= eventDetail.meeting.date %> at <%= eventDetail.meeting.time %>
  <% } %>
</div>

<div id="eventInfo">
  <p class="bold">Place:</p>
  <p><%= eventDetail.meeting.place %></p>
  <p class="bold">Type:</p>
  <p><%= eventDetail.type %></p>
  <p class="bold">Distance:</p>
  <p><span id="totalDistance"><%= eventDetail.distance %></span> km</p>
  <p class="bold">Pace:</p>
  <p><%= eventDetail.pace %></p>
  <p class="bold">Description:</p>
  <p><%= eventDetail.description %></p>
  <p class="bold">Organizer:</p>
  <p><%= eventDetail.author %></p>
</div>

<% if (eventDetail.gps != "none"){ %>
<div id="map"></div>
<div class="gpxBtn">
  <a class="waves-effect waves-light btn blue-grey darken-3" id="gpxDownload"></a>
</div>
<script>let trackPath = `https://exonpproject.herokuapp.com/gpx/<%= eventDetail.gps.filename %>`;</script>
<script src="/js/eventdetail.js"></script>
<script src="/js/gpx-parser.js"></script>
<% } %>

<ul class="collapsible">
  <li>
    <div class="collapsible-header"><%= participantInfo.length %> <% if(participantInfo.length<2) { %>
    Participant
    <% } else { %> Participants <% } %>
    </div>
    <div class="collapsible-body">
      <% for(let i=0; i< participantInfo.length; i++) {%>
        <p><a href="/members/<%= participantInfo[i]._id %>"><%= participantInfo[i].firstname %> <%= participantInfo[i].lastname %></a></p>
      <% } %>
    </div>
  </li>
</ul>
<script src="/js/collapsible.js"></script>
<%- include('../component/footer'); %>
